<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljg.common.mapper.user.UserMapper">
    <resultMap type="User" id="userResultMap">
        <result column="USER_NAME" property="username"/>
        <result column="USER_PWD" property="password"/>
    </resultMap>


    <select id="getUserInfo" parameterType="User" resultMap="userResultMap">
        select * from user where 1=1
        <if test="username!=null and password!=null">
            and USER_NAME = #{username} and USER_PWD=#{password}
        </if>
    </select>

</mapper>